<?xml version="1.0"?>
<!--USAGE
full demo:
roslaunch elevator elevator.launch kinect:=true lidar:=true amcl:=true have_map:=true map:="`rospack find elevator`/maps/elevator.yaml" gazebo:=true world_name:="`rospack find elevator`/worlds/elevator.world" move_base:=true  moveit:=true x:=1 y:=-2

rosrun rviz rviz -d `rospack find armadillo2_navigation`/rviz/amcl.rviz

only_elevator:
roslaunch elevator elevator.launch kinect:=true lidar:=true amcl:=true have_map:=true map:="`rospack find elevator`/maps/only_elevator.yaml" gazebo:=true world_name:="`rospack find elevator`/worlds/only_elevator.world" move_base:=true  moveit:=true


roslaunch elevator arm_server.launch

roslaunch elevator arm_client.launch

-->

<launch>

  <!--common settings for armadillo2-->
  <arg name="gazebo" default="false" doc="execute armadillo2 inside gazebo sim"/>
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="Y" default="0.0" />
  <arg name="moveit" default="false"/>
  <arg name="softkinetic" default="false"/>
  <arg name="kinect" default="false"/>
  <arg name="lidar" default="false"/>
  <arg name="gmapping" default="false"/>
  <arg name="hector_slam" default="false"/>
  <arg name="amcl" default="false"/>
  <arg name="have_map" default="false" doc="set to true to use pre-saved map"/>
  <arg name="map" default="map.yaml" doc="pre-saved map path"/>
  <arg name="move_base" default="false"/>
  <arg name="robot_localization" default="false"/>
  <arg name="teleop" default="false" doc="allow armadillo2 joy teleop"/>

  <include file="$(find armadillo2)/launch/armadillo2.launch">
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="Y" value="$(arg Y)"/>
    <arg name="moveit" value="$(arg moveit)"/>
    <arg name="softkinetic" value="$(arg softkinetic)"/>
    <arg name="kinect" value="$(arg kinect)"/>
    <arg name="lidar" value="$(arg lidar)"/>
    <arg name="gmapping" value="$(arg gmapping)"/>
    <arg name="hector_slam" value="$(arg hector_slam)"/>
    <arg name="amcl" value="$(arg amcl)"/>
    <arg name="have_map" value="$(arg have_map)"/>
    <arg name="map" value="$(arg map)"/>
    <arg name="move_base" value="$(arg move_base)"/>
    <arg name="robot_localization" value="$(arg robot_localization)"/>
    <arg name="teleop" value="$(arg teleop)"/>
  </include>

  <include file="$(find arm_server)/launch/arm_server.launch"/>

</launch>
