<?xml version="1.0"?>
<!--USAGE
full demo:
roslaunch elevator elevator.launch gazebo:=true x:=1 y:=-2

rosrun rviz rviz -d `rospack find armadillo2_navigation`/rviz/amcl.rviz

only_elevator:
roslaunch elevator elevator.launch gazebo:=true Y:=0.3

rosrun rviz rviz -d `rospack find armadillo2_navigation`/rviz/amcl.rviz

-->

<launch>


 <!--settings for elevator-->
 <arg name="button_img" default="$(find elevator)/img/button_sim.png" doc="path to button image"/>
 <arg name="pressed_button_img" default="$(find elevator)/img/button_sim_pressed.png" doc="path to pressed button image"/>
 <arg name="inner_button_img" default="$(find elevator)/img/inner_button_sim.png" doc="path to inner button image"/>
 <arg name="press_offset_x" default="0.75" doc="offset from button_img to left corner to pushing spot"/>
 <arg name="press_offset_y" default="0.0" doc="offset from button_img to left corner to pushing spot"/>

  <!--common settings for armadillo2-->
  <arg name="gazebo" default="false" doc="execute armadillo2 inside gazebo sim"/>
  <arg name="world_name" default="$(find elevator)/worlds/only_elevator.world"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="Y" default="0.0" />
  <arg name="moveit" default="true"/>
  <arg name="softkinetic" default="true"/>
  <arg name="kinect" default="false"/>
  <arg name="lidar" default="true"/>
  <arg name="gmapping" default="false"/>
  <arg name="hector_slam" default="false"/>
  <arg name="amcl" default="true"/>
  <arg name="have_map" default="true" doc="set to true to use pre-saved map"/>
  <arg name="map" default="$(find elevator)/maps/only_elevator.yaml" doc="pre-saved map path"/>
  <arg name="move_base" default="true"/>
  <arg name="robot_localization" default="false"/>
  <arg name="teleop" default="false" doc="allow armadillo2 joy teleop"/>

  <include file="$(find armadillo2)/launch/armadillo2.launch">
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="Y" value="$(arg Y)"/>
    <arg name="moveit" value="$(arg moveit)"/>
    <arg name="softkinetic" value="$(arg softkinetic)"/>
    <arg name="kinect" value="$(arg kinect)"/>
    <arg name="lidar" value="$(arg lidar)"/>
    <arg name="gmapping" value="$(arg gmapping)"/>
    <arg name="hector_slam" value="$(arg hector_slam)"/>
    <arg name="amcl" value="$(arg amcl)"/>
    <arg name="have_map" value="$(arg have_map)"/>
    <arg name="map" value="$(arg map)"/>
    <arg name="move_base" value="$(arg move_base)"/>
    <arg name="robot_localization" value="$(arg robot_localization)"/>
    <arg name="teleop" value="$(arg teleop)"/>
  </include>

  <group if="$(arg gazebo)">
      <node name="sim_elevator" pkg="elevator" type="sim_elevator.py" output="screen"/>
  </group>

  <node name="arm_server_node" pkg="elevator" type="arm_server_node.py" output="screen"/>

   <node name="armadillo_elevator_node" pkg="elevator" type="detect_button.py" output="screen">
     <param name="button_img" value="$(arg button_img)"/>
     <param name="pressed_button_img" value="$(arg pressed_button_img)"/>
     <param name="inner_button_img" value="$(arg inner_button_img)"/>
     <param name="press_offset_x" value="$(arg press_offset_x)"/>
     <param name="press_offset_y" value="$(arg press_offset_y)"/>
   </node>

</launch>
